<a href="https://colab.research.google.com/github/sarthak-2002/PySpark_Learning/blob/main/Introduction%20to%20Pyspark%20%26%20Basics%20of%20Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Learning Outcome:
    1. PySpark Dataframe
    2. Reading the Dataset
    3. Checking DataTypes of the Column(Schema)
    4. Selecting Columns and Indexing
    5. Check Describe option in PySpark similar to Pandas
    6. Adding Columns
    7. Dropping Columns
    8. Renaming Columns

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 71kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.8MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=1affb0dcf9842ed14a7d8d7bb3ef56b9e8c35349329bb8b00b87b4ec81977482
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("test1.csv")

              Name  Age  Experience
0  Sarthak Agarwal   25           1
1    Sarthak Datta   26           2
2   Sandip Ganguly   27           4

In [4]:
type(pd.read_csv("test1.csv"))

pandas.core.frame.DataFrame

### Creating PySpark Session

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
#Reading a csv file into pyspark
df_pyspark =spark.read.csv("test1.csv")

In [9]:
df_pyspark #Header is not detected

DataFrame[_c0: string, _c1: string, _c2: string]

In [10]:
df_pyspark.show()

+---------------+---+----------+
|            _c0|_c1|       _c2|
+---------------+---+----------+
|           Name|Age|Experience|
|Sarthak Agarwal| 25|         1|
|  Sarthak Datta| 26|         2|
| Sandip Ganguly| 27|         4|
+---------------+---+----------+

While reading the data from csv file, even after having the header in file it took the excel cell name as header

###### Solution using the option in spark.read

In [11]:
df_pyspark=spark.read.option("header","true").csv("test1.csv")

In [12]:
df_pyspark

DataFrame[Name: string, Age: string, Experience: string]

In [13]:
df_pyspark.show()

+---------------+---+----------+
|           Name|Age|Experience|
+---------------+---+----------+
|Sarthak Agarwal| 25|         1|
|  Sarthak Datta| 26|         2|
| Sandip Ganguly| 27|         4|
+---------------+---+----------+

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

As per the above output it is clear that spark is considering all the variable schema as "String", in the above loaded dataset Age & Experience are two Interger type variables.

To solve this issue there is a option with csv function i.e. inferSchema = True

In [15]:
df_pyspark=spark.read.option("header","true").csv("test1.csv",inferSchema = True)

In [16]:
# Schema check
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

#### Simple way to Read Dataset & Check its Schema

In [17]:
df_pyspark=spark.read.csv("test1.csv",header=True, inferSchema = True)
df_pyspark.show()

+---------------+---+----------+
|           Name|Age|Experience|
+---------------+---+----------+
|Sarthak Agarwal| 25|         1|
|  Sarthak Datta| 26|         2|
| Sandip Ganguly| 27|         4|
+---------------+---+----------+

In [18]:
# Schema check
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.columns # Fetching Column Names

['Name', 'Age', 'Experience']

In [21]:
df_pyspark.head(2) # Output: a List containning data to first two records

[Row(Name='Sarthak Agarwal', Age=25, Experience=1),
 Row(Name='Sarthak Datta', Age=26, Experience=2)]

In [22]:
## Column Indexing
df_pyspark.select("Name")

DataFrame[Name: string]

In [23]:
df_pyspark.select("Name").show()

+---------------+
|           Name|
+---------------+
|Sarthak Agarwal|
|  Sarthak Datta|
| Sandip Ganguly|
+---------------+

In [24]:
## Column Indexing (Multiple Column)
df_pyspark.select(["Name","Experience"])

DataFrame[Name: string, Experience: int]

In [25]:
df_pyspark.select(["Name","Experience"]).show()

+---------------+----------+
|           Name|Experience|
+---------------+----------+
|Sarthak Agarwal|         1|
|  Sarthak Datta|         2|
| Sandip Ganguly|         4|
+---------------+----------+

In [26]:
df_pyspark["Name"]

Column<'Name'>

In [27]:
df_pyspark.dtypes # Functionality of .dtypes function more or less similar to pandas

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [28]:
#Describe Option
df_pyspark.describe().show()

+-------+--------------+----+------------------+
|summary|          Name| Age|        Experience|
+-------+--------------+----+------------------+
|  count|             3|   3|                 3|
|   mean|          null|26.0|2.3333333333333335|
| stddev|          null| 1.0|1.5275252316519465|
|    min|Sandip Ganguly|  25|                 1|
|    max| Sarthak Datta|  27|                 4|
+-------+--------------+----+------------------+

In [29]:
## Adding Column in the Spark Dataframe
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark["Experience"]+2)

In [30]:
df_pyspark.show()

+---------------+---+----------+-----------------------+
|           Name|Age|Experience|Experience After 2 year|
+---------------+---+----------+-----------------------+
|Sarthak Agarwal| 25|         1|                      3|
|  Sarthak Datta| 26|         2|                      4|
| Sandip Ganguly| 27|         4|                      6|
+---------------+---+----------+-----------------------+

In [31]:
## Dropping Column in the Spark Dataframe
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [32]:
df_pyspark.show()

+---------------+---+----------+
|           Name|Age|Experience|
+---------------+---+----------+
|Sarthak Agarwal| 25|         1|
|  Sarthak Datta| 26|         2|
| Sandip Ganguly| 27|         4|
+---------------+---+----------+

In [33]:
## Renaming Column in the Spark Dataframe
df_pyspark=df_pyspark.withColumnRenamed('Name','User Name')

In [34]:
df_pyspark.show()

+---------------+---+----------+
|      User Name|Age|Experience|
+---------------+---+----------+
|Sarthak Agarwal| 25|         1|
|  Sarthak Datta| 26|         2|
| Sandip Ganguly| 27|         4|
+---------------+---+----------+