<a href="https://colab.research.google.com/github/sarthak-2002/PySpark_Learning/blob/main/Pysark_Filter_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 70kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 17.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=2eae54e24ca7bbb022a1c0e415378745ba111bcc6967fe0f863fd62ec881c560
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

### Learning Outcome: Filter Operations

    1. Filter Operations
    2. &,|,==
    3. ~

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [3]:
df_pyspark=spark.read.option("header","true").csv("test3.csv",inferSchema = True)
df_pyspark.show()

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

#### Filter Operations

In [4]:
### Salary of people less than equal to 20000
print(df_pyspark.filter("Salary<=20000").show())
#or
print(df_pyspark.filter(df_pyspark["Salary"]<=20000).show()) # Both line of code works similarly

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

None
+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

None

In [5]:
df_pyspark.filter("Salary<=20000").select(["Name","Age"]).show()

+-------------------+---+
|               Name|Age|
+-------------------+---+
|     Sandip Ganguly| 27|
|    Asmita Purohit | 23|
|Mohammed Anzar Asif| 24|
|   Muskan Chourasia| 21|
+-------------------+---+

In [6]:
### And filter Operation
print(df_pyspark.filter((df_pyspark["Salary"]<=20000) & (df_pyspark["Salary"]>=15000)).show())

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

None

In [7]:
### Or and equal to equal to filter Operation
print(df_pyspark.filter((df_pyspark["Salary"]<=20000) | (df_pyspark["Experience"]==1)).show())

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

None

In [8]:
### Inverse Filter Operation
df_pyspark.filter(~(df_pyspark["Salary"]<=20000)).show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
|Sarthak Agarwal| 25|         1| 30000|
|  Sarthak Datta| 26|         2| 25000|
+---------------+---+----------+------+