<a href="https://colab.research.google.com/github/sarthak-2002/PySpark_Learning/blob/main/PySpark_Handling_Missing_Value_in_Spark_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 59kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 19.0MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=eccea142e15054ac2a5441e42aadcebccdd211697d3b6a58b72874ab2b09ca34
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

### Learning Outcome: PySpark Handling Missing Value in Spark DataFrame

    1. Dropping Columns
    2. Dropping Rows
    3. Various Parameters in Dropping Functionalities
    4. Handling Missing Values by Mean, Median & Mode

In [5]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [7]:
df_pyspark=spark.read.option("header","true").csv("test2.csv",inferSchema = True)
df_pyspark.show()

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|               null|  34|        10| 38000|
|               null|  36|      null|  null|
+-------------------+----+----------+------+

In [8]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  25|         1| 30000|
|  26|         2| 25000|
|  27|         4| 20000|
|  23|         3| 20000|
|  24|         1| 15000|
|  21|         1| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [9]:
df_pyspark.na.drop().show()

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

In [10]:
df_pyspark.na.drop(how="all").show() # drops if all the values in a row is null

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|               null|  34|        10| 38000|
|               null|  36|      null|  null|
+-------------------+----+----------+------+

In [11]:
df_pyspark.na.drop(how="any").show() # drops if any of the value in row is null

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
+-------------------+---+----------+------+

In [12]:
df_pyspark.na.drop(how="any",thresh=2).show() #thresh=2 means a record should contain atleast 2 non null values or else it will be dropped

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|               null|  34|        10| 38000|
+-------------------+----+----------+------+

In [13]:
df_pyspark.na.drop(how="any",thresh=3).show()#thresh=3 means a record should contain atleast 3 non null values or else it will be dropped

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
|               null| 34|        10| 38000|
+-------------------+---+----------+------+

In [14]:
df_pyspark.show()

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|               null|  34|        10| 38000|
|               null|  36|      null|  null|
+-------------------+----+----------+------+

In [15]:
df_pyspark.na.drop(how="any",subset=['Age']).show() # remove a record if there is null value in the Age Column wrt that record

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
|               null| 34|        10| 38000|
|               null| 36|      null|  null|
+-------------------+---+----------+------+

In [16]:
df_pyspark.na.drop(how="any",subset=['Experience']).show() # remove a record if there is null value in the Experience Column wrt that record

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
|               null| 34|        10| 38000|
+-------------------+---+----------+------+

In [17]:
df_pyspark.na.drop(how="any",subset=['Salary']).show() # remove a record if there is null value in the Salary Column wrt that record

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|               null|  34|        10| 38000|
+-------------------+----+----------+------+

In [18]:
df_pyspark.na.drop(how="any",subset=['Name']).show() # remove a record if there is null value in the Name Column wrt that record

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
+-------------------+----+----------+------+

In [19]:
# Filling the Missing Value
df_pyspark.na.fill('Missing Value').show() # works for categorical data

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|      Missing Value|  34|        10| 38000|
|      Missing Value|  36|      null|  null|
+-------------------+----+----------+------+

In [20]:
df_pyspark.na.fill(0,['Experience','Age','Salary']).show()

+-------------------+---+----------+------+
|               Name|Age|Experience|Salary|
+-------------------+---+----------+------+
|    Sarthak Agarwal| 25|         1| 30000|
|      Sarthak Datta| 26|         2| 25000|
|     Sandip Ganguly| 27|         4| 20000|
|    Asmita Purohit | 23|         3| 20000|
|Mohammed Anzar Asif| 24|         1| 15000|
|   Muskan Chourasia| 21|         1| 18000|
|   Paridhi Agarwal |  0|         0| 40000|
|               null| 34|        10| 38000|
|               null| 36|         0|     0|
+-------------------+---+----------+------+

In [22]:
df_pyspark.na.fill('Missing Value',['Name']).show() # filling missing value for particular column

+-------------------+----+----------+------+
|               Name| Age|Experience|Salary|
+-------------------+----+----------+------+
|    Sarthak Agarwal|  25|         1| 30000|
|      Sarthak Datta|  26|         2| 25000|
|     Sandip Ganguly|  27|         4| 20000|
|    Asmita Purohit |  23|         3| 20000|
|Mohammed Anzar Asif|  24|         1| 15000|
|   Muskan Chourasia|  21|         1| 18000|
|   Paridhi Agarwal |null|      null| 40000|
|      Missing Value|  34|        10| 38000|
|      Missing Value|  36|      null|  null|
+-------------------+----+----------+------+

In [23]:
#Imputation Missing Value using PySpark Imputer Function: With Mean

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [24]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------------------+----+----------+------+-----------+------------------+--------------+
|               Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------------------+----+----------+------+-----------+------------------+--------------+
|    Sarthak Agarwal|  25|         1| 30000|         25|                 1|         30000|
|      Sarthak Datta|  26|         2| 25000|         26|                 2|         25000|
|     Sandip Ganguly|  27|         4| 20000|         27|                 4|         20000|
|    Asmita Purohit |  23|         3| 20000|         23|                 3|         20000|
|Mohammed Anzar Asif|  24|         1| 15000|         24|                 1|         15000|
|   Muskan Chourasia|  21|         1| 18000|         21|                 1|         18000|
|   Paridhi Agarwal |null|      null| 40000|         27|                 3|         40000|
|               null|  34|        10| 38000|         34|                10|         38000|
|               null|  36|      null|  null|         36|                 3|         25750|
+-------------------+----+----------+------+-----------+------------------+--------------+

In [25]:
#Imputation Missing Value using PySpark Imputer Function: With Median

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [26]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------------------+----+----------+------+-----------+------------------+--------------+
|               Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------------------+----+----------+------+-----------+------------------+--------------+
|    Sarthak Agarwal|  25|         1| 30000|         25|                 1|         30000|
|      Sarthak Datta|  26|         2| 25000|         26|                 2|         25000|
|     Sandip Ganguly|  27|         4| 20000|         27|                 4|         20000|
|    Asmita Purohit |  23|         3| 20000|         23|                 3|         20000|
|Mohammed Anzar Asif|  24|         1| 15000|         24|                 1|         15000|
|   Muskan Chourasia|  21|         1| 18000|         21|                 1|         18000|
|   Paridhi Agarwal |null|      null| 40000|         25|                 2|         40000|
|               null|  34|        10| 38000|         34|                10|         38000|
|               null|  36|      null|  null|         36|                 2|         20000|
+-------------------+----+----------+------+-----------+------------------+--------------+

In [27]:
#Imputation Missing Value using PySpark Imputer Function: With Mode

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mode")

In [28]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------------------+----+----------+------+-----------+------------------+--------------+
|               Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------------------+----+----------+------+-----------+------------------+--------------+
|    Sarthak Agarwal|  25|         1| 30000|         25|                 1|         30000|
|      Sarthak Datta|  26|         2| 25000|         26|                 2|         25000|
|     Sandip Ganguly|  27|         4| 20000|         27|                 4|         20000|
|    Asmita Purohit |  23|         3| 20000|         23|                 3|         20000|
|Mohammed Anzar Asif|  24|         1| 15000|         24|                 1|         15000|
|   Muskan Chourasia|  21|         1| 18000|         21|                 1|         18000|
|   Paridhi Agarwal |null|      null| 40000|         21|                 1|         40000|
|               null|  34|        10| 38000|         34|                10|         38000|
|               null|  36|      null|  null|         36|                 1|         20000|
+-------------------+----+----------+------+-----------+------------------+--------------+