<a href="https://colab.research.google.com/github/sarthak-2002/PySpark_Learning/blob/main/Pyspark_Agg_%26_Groupby_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 61kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 16.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=03ebbcc06f2c4bb4cc127be5dff49ced97e29707ae2112c48cb58191547c49a5
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

### Learning Outcome: 

    1. GroupBy
    2. Aggregate Function

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [3]:
df_pyspark=spark.read.option("header","true").csv("test4.csv",inferSchema = True)
df_pyspark.show()

+---------+------------+------+----+
|    Name | Department |Salary| _c3|
+---------+------------+------+----+
|    Krish|Data Science| 10000|null|
|    Krish|         IOT|  5000|null|
|   Mahesh|    Big Data|  4000|null|
|    Krish|    Big Data|  4000|null|
|   Mahesh|Data Science|  3000|null|
|Sudhanshu|Data Science| 20000|null|
|Sudhanshu|         IOT| 10000|null|
|Sudhanshu|    Big Data|  5000|null|
|    Sunny|Data Science| 10000|null|
|    Sunny|    Big Data|  2000|null|
+---------+------------+------+----+

In [4]:
df_pyspark=df_pyspark.drop('_c3')
df_pyspark.show()

+---------+------------+------+
|    Name | Department |Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Department : string (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
df_pyspark.columns

['Name ', 'Department ', 'Salary']

### GroupBy Function & Aggregate Function in Combination

In [7]:
##GroupBy
#Grouped by Name to find Total Salary
df_pyspark.groupBy('Name ').sum().show()

+---------+-----------+
|    Name |sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [8]:
#Grouped by Name to find Maximum Salary of each person
df_pyspark.groupBy('Name ').max().show()

+---------+-----------+
|    Name |max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [9]:
#Grouped by Name to find Minimum Salary of each person
df_pyspark.groupBy('Name ').min().show()

+---------+-----------+
|    Name |min(Salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [10]:
#Grouped by Department to find Total Salary given in each Departments
df_pyspark.groupBy('Department ').sum().show()

+------------+-----------+
| Department |sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [11]:
#Grouped by Department to find Mean Salary of each Departments
df_pyspark.groupBy('Department ').mean().show()

+------------+-----------+
| Department |avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [12]:
#Grouped by Department to find Count of Each department
df_pyspark.groupBy('Department ').count().show()

+------------+-----+
| Department |count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Aggregate Function Directly

In [13]:
df_pyspark.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [14]:
df_pyspark.agg({"Salary":"mean"}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

In [15]:
df_pyspark.agg({"Salary":"max"}).show()

+-----------+
|max(Salary)|
+-----------+
|      20000|
+-----------+

In [16]:
df_pyspark.agg({"Salary":"min"}).show()

+-----------+
|min(Salary)|
+-----------+
|       2000|
+-----------+

In [22]:
df_pyspark.agg({"Name ":"count"}).show()

+------------+
|count(Name )|
+------------+
|          10|
+------------+